@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to our library! </h1>
    <p>Here you can find any book you want to read!</p>
    <p><img src="https://www.ju.edu/english/img/books-by-thomas-kelley-at-unsplash.jpg"></p>
</div>


